@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.mountainListLabel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	// border-bottom: 1px solid $darkblue;
	background-color: rgba(248, 245, 241, 0.594);

	&-list {
		margin: 0.5rem;
		&__item {
			font-size: 12px;
			font-weight: 600;
			text-decoration: none;
			color: $darkblue;
			position: relative;
			overflow: hidden;

			&::before {
				content: "";
				position: absolute;
				width: 0;
				height: 1.5px;
				top: 50%;
				left: 0;
				background-color: $darkblue;
				transition: width 0.3s ease-in-out;
			}

			&:hover {
				&::before {
					width: 100%;
				}
		}
			
		}
	}
}

.active-link {
	::after {
		font-weight: 700;
	}
}