@use 'variables' as *;


@mixin tablet {
	@media (min-width: $tablet-width) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
		@content;
	}
}

@mixin card {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 1rem;
	background-color: rgb(198, 236, 223);
	box-shadow: 0 0 10px rgba(black, 0.1);
	align-items: center;

	@include tablet {
		width: 100vw;
		height: 100vh;
	}
}

@mixin t-card {
	width: 100vw;
	height: 100vh;
	// scroll-snap-align: start;
}

@mixin scroll-snap {
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

@mixin unit-size {
	font-size: 10px;
}

@mixin label-size {
	font-size: 1rem;
}

@mixin forecast-label{
	font-size: 12px;
	// @include tablet {
	// 	font-size: 16px;
	// }
}