@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.componentNav {
	box-sizing: border-box;
	width: 100%;
	background-color: $darkblue;
	height: 2rem;
	align-content: center;

	@include tablet {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	
	&-list {
		display: flex;
		color: white;
		justify-content: space-evenly;
		font-weight: 600;

		@include tablet {
			display: flex;
			width: 850px;
			justify-content: space-around;
		}
	}

	&-label {
		text-decoration: none;
		color: white;position: relative;
		overflow: hidden;

		&::before {
			content: "";
			position: absolute;
			width: 0;
			height: 1.5px;
			top: 50%;
			left: 0;
			background-color: white;
			transition: width 0.3s ease-in-out;
		}

		&:hover {
			&::before {
				width: 100%;
			}
		}
	}
}