@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.dayForecast {
	box-sizing: border-box;
	

	&-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&-container {
		display: flex;
		flex-direction: row;
		width: 100%;

		&:nth-child(even) {
			background-color:rgba(164, 226, 227, 0.246);
		}
		&:nth-child(odd) {
			background-color: white;
		}
	}

	&-item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;
		
	}
}