@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.dayForecast {
	box-sizing: border-box;
	

	&-info {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 0 1rem;
		border-radius: 30px;
		position: sticky;
		top: 0;

		&__label {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2.5rem;
			background-color: rgb(160, 200, 201);
			font-weight: 500;
			flex-direction: column;
			
			&-item {
				cursor: help;
				text-align: center;
				@include label-size;
			}

			&-unit {
				@include unit-size;
			}
		}
	}

	&-container {
		display: flex;
		flex-direction: row;
		width: 100%;
		padding: 1rem;

		&:nth-child(even) {
			background-color: $lightblue;
		}
		&:nth-child(odd) {
			background-color: white;
		}
	}

	&-item {
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 2rem;

		&__value {
			font-size: 10px;
			@include tablet {
				font-size: 14px;
			}
		}
	}
}