@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.country {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;

	&-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		align-items: center;
		justify-content: center;
		@include tablet {
			@include t-card;
			@include scroll-snap;
		}
	}
	

	&-card {
		@include card;
		background-size: cover;
		background-position: center;
		text-decoration: none;
		justify-content: center;

		@include tablet {
			scroll-snap-align: start;
		}

		&__title {
			background-color: rgba(0, 0, 0, 0.633);
			padding: 2.5rem;
			border-radius: 1rem;

			&-name {
				color: white;
			}
		}
	}
}

.ca-card {
	background-image: url('../../Assets/Images/ca-mountains.jpeg');
}

.usa-card {
	background-image: url('../../Assets//Images//usa-mountains.webp');
	
	&:hover {
		cursor: not-allowed;
	}
}