@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.header {
	&-content {
		display: flex;
		flex-direction: row;
		height: 60px;
		margin: 0;
		background-color: $darkblue;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__title {
			margin: 0;
			color: rgb(219, 243, 238);
			text-shadow: 5px 4px 3px black;
		}

		&__prov {
			display: flex;
			flex-direction: row;
			color: white;
			gap: 1rem;
			align-items: center;
		}	
	}
}

hr {
	height: 1rem;
}