@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.header {

	&-icon {
		width: 25px;
		height: 25px;
		animation: spin 10s linear infinite;
	}

	&-content {
		display: flex;
		flex-direction: row;
		height: 60px;
		margin: 0;
		background-color: $darkblue;
		padding: 8px 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__title {
			margin: 0;
			color: rgb(219, 243, 238);
			text-shadow: 5px 4px 3px black;
			display: flex;
			align-items: center;
			font-size: 25px;


			&-link {
				text-decoration: none;
			}
		}

		&__prov {
			display: flex;
			flex-direction: row;
			color: white;
			gap: 1rem;
			align-items: center;

			&-item {
				text-decoration: none;
				color: white;
				font-weight: 600;
				position: relative;
				overflow: hidden;
				font-size: 14px;

				&::before {
					content: "";
					position: absolute;
					width: 0;
					height: 1.5px;
					top: 50%;
					left: 0;
					background-color: white;
					transition: width 0.3s ease-in-out;
				}

				&:hover {
					&::before {
						width: 100%;
					}
				}
			}
		}	

		&__container {
			display: flex;
			flex-direction: row;
			gap: 1rem;
			align-items: center;
		}

		&__country {
			display: flex;
		}
	}
}

hr {
	height: 13px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}