@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;


.forecastNav {
	box-sizing: border-box;
	&-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		&__item {
			flex: 1;
			text-align: center;
		}
	}
}