@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.footer {
	&-content {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 50px;
		background-color: $darkblue;
		color: white;
		align-items: center;
	}
}