@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.footer {
	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// height: 100px;
		background-color: $darkblue;
		color: white;
		align-items: center;
		gap: 0.5rem;
		padding: 8px;

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&-label {
				font-size: 14px;
				text-align: center;
			}

			&-container {
				padding: 0.5rem 0;
				box-sizing: border-box;

				
				&__input {
					:focus {
						outline: none;
					}
				}
				&__input, &__button {
					height: 2rem;
					border: none;
					padding: 5px;
					background-color: $darkblue;
					color: rgb(218, 220, 221);
					border: 1px solid $lightblue;
				}

				&__button {
					cursor: pointer;
					&:hover {
						background-color: $lightblue;
						color: white;
					}
				}
			}
		}

		&__footer {
			font-size: 10px;
		}
	}
}