@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;


.mountainDescription {
	box-sizing: border-box;
	width: 100%;

	&-image {
		position: relative;
		
		&__img {
			width: 100vw;
			height: 400px;
			object-fit: cover;
		}

		&__overlay {
			position: absolute;
			width: 90vw;
			height: auto;
			padding: 0.5rem;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			background-color: rgba(255, 255, 255, 0.814);
			border-radius: 20px;
			
			@include tablet {
				display: flex;
				flex-direction: column;
				justify-content: center;
				position: absolute;
				padding: 1rem;
				top: 80%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-align: center;
				background-color: rgba(255, 255, 255, 0.814);
				max-height: 140px;
			}

			&-name {
				margin-bottom: 0.5rem;
			}
		}
	}

	&-cam {
		display: flex;
		justify-content: center;

		&__iframe {
			width: 85vw;
			height: 200px;
			border: none;

			@include tablet {
				width: 400px;
				height: 250px;
			}
		}
	}
}