@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.mountains {
	&-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		@include tablet {
			flex-direction: row;
			flex-wrap: wrap;
			width: 100%;
			height: 100vh;
			@include t-card;
			@include scroll-snap;
		}
	}

	&-card {	
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.416);
		color: white;
		border-radius: 1rem;

		&__link {
			background-size: cover;
			background-position: center;
			text-decoration: none;
			@include card;
			height: 300px;
			justify-content: center;
		

			@include tablet {
				@include t-card;
				scroll-snap-align: center;
				justify-content: center;
			}

			// @include desktop {
				
			// }
		}
	}
}