@use '../../styles/partials/fontcolor' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/global.scss' as *;

.mountains {
	&-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center
	}

	&-card {	
		&__link {
			@include m-card;
		}
	}
}